body{
  font-family:"Montserrat";
}

#title{
  background-color:#ff4c68;
  color: white;
}
h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 3rem;
   line-height: 1.5;
   padding: 2.8rem;
   font-weight: 900;
}
h3{
  font-family: Montserrat;
}
p{
  color:#8f8f8f;
}
.featurep{
  padding:0 15%;
}
.container-fluid{
  padding: 3% 15%;
}

.navbar-logo{
  font-family: "Ubuntu";
  font-size:2.5rem;
  font-weight: bold;
  color:white;
  }
.navbar-logo:hover{
  text-decoration-line: none;
  color:#F7F3F2;

}
.title-img{
  width:50%;
  transform: rotate(25deg);
}

.row{
  padding-top: 5rem;
}

li{
  display: inline;
}
#features{
    padding:7% 13%;
}
.feature-box{
text-align: center;
}
.feature-box.p{
  background-color: black;
}

.icon{
  color:#ef8272;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#ff4c68;
}
